#retainer-picture {
    max-width: 500px;
    display: block;
    margin: auto;
}

.button {
    text-align: center;
}

.mat-raised-button {
    background-color: grey;
    color: white;
    margin: 50px auto;

}
