
a:link {
    text-decoration: none;
    color: #808080;
}

a:visited {
    text-decoration: none;
    color: #808080;
}

a:hover {
    text-decoration: underline;
    color: #514b4b;
}

a:active {
    text-decoration: underline;
    color: #808080;
}

.post-link {
    padding: 5px 0;
}