.saved-posts {
    padding: 0 10px 30px 10px;
  }

.form-field {
  width: 100%;
}

.subreddit-title {
  color: #C0C0C0;
  font-size: 20px;
}

.error {
  color: red;
  font-size: 30px;
  text-align: center;
}

p {
  margin: 20px 10%;
}