h1 {
    text-transform: uppercase;
    font-family: 'Caudex', serif;
    display: flex;
    justify-content: center;
    color: white;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

@media screen and (min-width: 750px) {
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px;
    }
}

